.custom-table {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.custom-table th, .custom-table td {
  vertical-align: middle;
  padding: 12px;
  white-space: nowrap;
}

.custom-table th {
  background-color: #343a40;
  color: white;
  text-transform: uppercase;
}

.custom-table tbody tr:hover {
  background-color: #e9ecef;
}

.custom-table tbody tr td {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-table .btn {
  margin: 0 2px;
}

.custom-table .pagination .page-link {
  color: #343a40;
  border-radius: 0;
}

.custom-table .pagination .active .page-link {
  background-color: #343a40;
  border-color: #343a40;
  color: white;
}
